header {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}